body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: auto;
    padding: 0;
    width: 100%;
}

p {
    font-size: 1.5em;
    text-align: center;
}

article + article {
    margin-top: 20px;
    border-top: 1px solid #000;
    padding-top: 20px;
}
